:root {
  --bg_color: #EEEBE2;
  --main-color: #080909;
  --secondary-color: #99947F;
  --sub_alt_color: #D3CFC1;
}

body {
  margin: 0;
  padding: 0;    
  font-family: 'Roboto Mono', 'Arial';
  background-color: var(--bg_color);
  color: var(--main-color);
}


header h2 {
  margin-top :3rem;
  font-size: 2rem;
}

.container {
  margin: 2rem auto;
  padding: 2rem 2rem 3rem 2rem;
  background-color: var(--sub_alt_color);
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.container h2 {
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #99947F;
}

ul {
  list-style-type: none;
  padding-left: 1rem;
}


.creators, .credits {
  font-style: italic;
  color: var(--secondary-color);
  margin-top: 1rem;
}

.highlight {
  font-weight: bold;
}

.alert-box{
  background-color: #fff8dc;
  border-left: 6px solid var(--secondary-color);
  padding: 1.5rem;
  border-radius: 12px;
  margin: 2rem auto;
  max-width: 800px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  font-size: 1rem;
  color: var(--main-color);
}
.alert-box h2{
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.alert-box h2 i {
  margin-right: 10px;
  color: #e1a100;
}



@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  header h1 {
    font-size: 1.5rem;
  }
}
