*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bg_color :  #EEEBE2;
  --main-color: #080909;
  --secondary-color: #99947F;
  --sub_alt_color : #D3CFC1 ;
}
.second-color{
  color: #99947F;
}
.main-color{
  color: #080909;
}
.current-word{
  color: #c87e74;
}
body{
  min-height: 95vh;
  position: relative;
  font-family: 'Roboto Mono', 'Arial';
  background-color: var(--bg_color);
  padding: 0 10vw;
}

/*---------------------------------------BAR-FEATURE-------------------- */


.bar-feature {
  margin-top: 3rem;
  overflow: hidden;
  background-color: var(--sub_alt_color);
  width: 527px;
  border-top-left-radius: 5px;
  border-top-right-radius:5px ;
}

.bar-feature a {
float: left;
font-size: 13px;
color: var(--secondary-color);
text-align: center;
padding: 10px 16px;
text-decoration: none;
}

.subnav {
float: left;
overflow: hidden;
transition:all 0.4s ease;
}

.subnav .subnavbtn {
font-size: 13px;
border: none;
outline: none;
color: var(--secondary-color);
padding: 10px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.bar-feature a:hover, .subnav:hover .subnavbtn {
color: var(--main-color);
background-color: #99947f40;
}

.subnav-content {
display: none;
position: absolute;
left: 10vw;
background-color: var(--sub_alt_color);
color: var(--main-color);
z-index: 1;
border-bottom-left-radius: 5px;
border-bottom-right-radius:5px ;
}

.subnav-content a {
transition: 0.4s ease;
float: left;
text-decoration: none;
}

.subnav-content a:hover {
color: black;
}

.subnav:hover .subnav-content {
display: block;
}
/*---------------------------------------MAIN-------------------- */
#word-display {
  font-size: 2rem ;
  line-height: 3rem;
  margin: 2rem 0 4rem 0;
}
.entry input{
  font-size: 1.8rem;
  background-color: var(--sub_alt_color);
  border: none;
  border-radius: 3px;
  color: var(--main-color);
  padding: 10px 6px;
  width: auto;
}
.btn-next{
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: var(--secondary-color);
}



/*---------------------------------------FOOTER-------------------- */
footer{
  border-top: 1px solid var(--sub_alt_color);
  padding-top: 1rem;
  position: absolute;
  bottom: 1rem;
  width: 80vw;
  font-size: .8rem;
}

footer ul:nth-child(1) li{
  padding-right: 0.6rem;
}
footer ul:nth-child(2) li{
  padding-left: 0.6rem;
}



