*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bg_color :  #EEEBE2;
  --main-color: #080909;
  --secondary-color: #99947F;
  --sub_alt_color : #D3CFC1 ;
}
body{
  min-height: 95vh;
  position: relative;
  font-family: 'Roboto Mono', 'Arial';
  background-color: var(--bg_color);
  padding: 0 10vw;
}
.flex-btw{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*---------------------------------------NAV-BAR-------------------- */

.logo{
    display: flex;
    position: relative;
}
.logo i{
    position: relative;
    top: .6rem;
    left: 1.3rem;
    font-size: 2.4rem;
}
.navbar{
    margin-top: 1.8rem;
}
.navbar nav ul:nth-child(1){
    width: 100px;
    margin-right: 3rem;
}
.navbar nav ul:nth-child(2){
    width: 50px;
    /* border: 1px solid rgb(111, 91, 91); */
}
.navbar a, footer ul a{
    color: var(--secondary-color);
    transition: 0.4s ease;
}
.navbar a:hover, footer ul a:hover{
    color: var(--main-color);
}
/*---------------------------------------BAR-FEATURE-------------------- */


.bar-feature {
    margin-top: 3rem;
    overflow: hidden;
    background-color: var(--sub_alt_color);
    width: 604px;
    border-top-left-radius: 5px;
    border-top-right-radius:5px ;
}

.bar-feature a {
  float: left;
  font-size: 16px;
  color: var(--secondary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
  transition:all 0.4s ease;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--secondary-color);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.bar-feature a:hover, .subnav:hover .subnavbtn {
  color: var(--main-color);
  background-color: #99947f40;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 10vw;
  background-color: var(--sub_alt_color);
  color: var(--main-color);
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:5px ;
}

.subnav-content a {
  transition: 0.4s ease;
  float: left;
  text-decoration: none;
}

.subnav-content a:hover {
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

/*---------------------------------------FOOTER-------------------- */
footer{
  border-top: 1px solid var(--sub_alt_color);
  padding-top: 1rem;
  position: absolute;
  bottom: 1rem;
  width: 80vw;
  font-size: .8rem;
}

footer ul:nth-child(1) li{
  padding-right: 0.6rem;
}
footer ul:nth-child(2) li{
  padding-left: 0.6rem;
}