:root{
    --bg_color :  #EEEBE2;
    --main-color: #080909;
    --secondary-color: #99947F;
    --sub_alt_color : #D3CFC1 ;
  }

body{
    background-color: var(--bg_color);
}

.login-form{
  width: 600px;
  height: 539px;
  margin-top: 50px;
  margin-inline: auto;
  background-color: var(--sub_alt_color);
  border-radius: 10px;
}


.login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-inline: auto;
}

.login-form-text{
    font-weight: bold;
    margin-bottom: 10px;
}

#email-text{
  margin-right: 19em;
}

#password-text{
  margin-right: 22em;
}

.login-form-input{
    width: 408px;
    height: 37px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.register-link{
  color: skyblue;
  
}

.title{
    text-align: center;
    padding-top: 1em;
    margin-bottom: 77px;
    font-family: 'Roboto Mono', 'Arial';
    
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }

.login-form-submit{
  margin-inline: auto;
  margin-top: 5px;
  width: 137px;
  height: 42px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 3px gray;
  transition: all 0.3s;
  cursor: pointer;
  transition: all 0.3s;
}

.login-form-submit:hover{
  box-shadow: none;
}

.login-btn {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    width: fit-content;
    transition: box-shadow 0.2s ease;
  }

#github-login{
    margin-left: 80px;
}

  .login-btn:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }

  .login-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .login-text {
    color: #555;
    font-size: 14px;
  }

.login-form-message {
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    display: none;
    color: white;
    width: 500px;
    height: 37px;
    align-items: center;
    
  }

.login-error-message{
  background-color: red;
  display: block;
}

.login-succes-message{
  background-color: rgb(9, 212, 9);
  display: block;
}

