:root{
    --bg_color :  #EEEBE2;
    --main-color: #080909;
    --secondary-color: #99947F;
    --sub_alt_color : #D3CFC1 ;
  }

body{
    background-color: var(--bg_color);

}

.profile-container{
    padding: 20px 30px;   
    width: 60vw;
    margin: 50px auto;
    background-color: var(--sub_alt_color);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.left-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-picture{
  width: 128px;
  aspect-ratio: 1/1;
  border-radius: 50%; 
  object-fit: cover;  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  border: 2px solid var(--secondary-color)
}

.user-information{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 5px;
    line-height: 1.4;
    display: inline-block;
}
.user-information p:first-child{
  font-size: 20px;
}
.user-information p:last-child{
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-color);
}

.vertical-line{
    width: 1px;
    height: 100%;
    background-color: var(--secondary-color);
    margin-left: 247px;
}

.right-container{
    display: flex;
    align-items: center;
}

.profile-form{
  display: flex;
  flex-direction: column;
  margin-block: auto;
}

.profile-form label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--main-color);
  display: inline-block;
}

.profile-form-input{
  margin-bottom: 15px; 
  margin-top: 5px; 
  padding: 10px 15px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background-color: var(--bg_color);
  color: var(--main-color);
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.profile-form-input:focus{
  outline: none; 
  border-color: var(--secondary-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.profile-form-submit{
  margin-top: 10px;
  font-weight: bold; 
  color: white;
  width: 137px;
  height: 42px;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-color);
  cursor: pointer;
  box-shadow: gray 0px 2px 3px;
  transition: 0.4s all;
}

.profile-form-submit:hover{
  box-shadow: none;
  transition: 0.4s all;

}

.chart-container{
  padding: 20px;
  width: 1200px;
  height: 450px;
  background-color: var(--sub_alt_color);
  border-radius: 10px;
  margin-bottom: 30px;
  margin-inline: auto;
  
}

.wpmChart {
  width: 100%;
  margin-inline: auto;
}

@media screen and (max-width : 1247px) {
  .profile-container{
    width: 80vw;
  }
}