*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg_color :  #EEEBE2;
    --main-color: #080909;
    --secondary-color: #99947F;
    --sub_alt_color : #D3CFC1 ;
}

body{
    font-family: 'Roboto Mono', 'Arial';
}